// importacao
@use '../../sass/variaveis';

// classes
.titulo{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 48px;
    padding: 16px 0 8px;
    margin-top: 8px;

    &Sub{
        font-family: "Nerko One", system-ui;
        font-size: 32px;
        padding-bottom: 8px;
    }
}

// elementos
// filhos diretos : nivel 2
header{


    div{
        display: flex;
        flex-direction: column;
        // alinhamento
        align-items: center;
        // arredondamento
        border-radius: 50px;
        border-style: dotted;
        // cor
        background-color: lighten(variaveis.$corFundo, 10%);
    }
}